<template>
	<view>
		<view class="container content">
			
		</view>	
	</view>
</template>

<script>
	export default {
		data() {
			return {
				href: 'https://uniapp.dcloud.io/component/README?id=uniui'
			}
		},
		methods: {

		}
	}
</script>

<style lang="less" scoped>
	.container {
		padding: 20px;
		font-size: 14px;
		line-height: 24px;
	}
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.logo {
		height: 200rpx;
		width: 200rpx;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50rpx;
	}
	
	.text-area {
		display: flex;
		justify-content: center;
	}
	
	.title {
		font-size: 36rpx;
		color: #8f8f94;
	}
	.number{
		display: flex;
		align-items: center;
		.reduce,.add{
			width: 80rpx;
			height: 60rpx;
			font-size: 26rpx;
			line-height: 0;
			border: 1px solid #4CD964;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.num{
			padding: 0 30rpx;
		} 
	}
	.login{
		font-size: 36rpx;
		color: #fff;
		background: green;
		padding: 20rpx 40rpx;
		margin: 40rpx 0;
	}
</style>
